@use '/src/sass/abstracts/'as *;
@use '/src/sass/base/'as *;


.slide {
    position: relative;

    &__content {
    }

    .center-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .right-content{
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-70%, -50%);
    }
}

.slick-slide {
    height: unset;
}


.slick-prev:before,
.slick-next:before {
    font-size: 30px;
}

// .slick-dots {
//     display: none;
// }


.slick-arrow {
    display: none !important;
    position: absolute;
    top: 50%;

    background: transparent;
    color: black;
    border: none;

    @include breakpoint(lg) {
        font-size: 6rem;
        display: unset !important;
    }
}

.slick-next {
    right: 2%;
}

.slick-prev {
    left: 2%;
    z-index: 999;
}