@use '/src/sass/abstracts/'as *;
@use '/src/sass/base/'as *;


.slide {
    position: relative;

    &__content {}

    .center-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .right-content {
        position: absolute;
        top: 5%;
        left: 60%;
        // transform: translate(-70%, -50%);
    }
}

.slick-slide {
    height: unset;
}


.slick-prev:before,
.slick-next:before {
    font-size: 30px;
}

// .slick-dots {
//     display: none;
// }


.slick-arrow {
    display: none !important;
    position: absolute;
    top: 50%;

    background: transparent;

    // color: black;
    border: none;

    @include breakpoint(lg) {
        // font-size: 6rem;
        display: unset !important;
    }
}

.slick-next {
    right: 2%;
}

.slick-prev {
    left: 2%;
    z-index: 999;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 40px;
    border: 1px solid hsla(0, 0%, 0%, 0.45);
    border-radius: 100vmax;
    width: 40px;
    background-color: hsla(0, 0%, 0%, 0.45);
    color: white;

    &:hover {
        background-color: hsl(0, 0%, 0%);
    }
}

.money-distance {
    .right-content {
        top: 0;
        left: 65%;
        right: 2%;
        text-align: center;
        line-height: 1.1;
        gap: 0;

        @include breakpoint(xl){
            gap: 1rem;
            top: 5%;
        }

        @include breakpoint(xxl){
            gap: 1.5rem;
            top: 10%;
        }
  
    }
}